/* Se incluyen en las dimensiones de los elementos los rellenos y los bordes, pero no los margenes */
* { box-sizing: border-box;}
 
h2{
    text-align: center;
    color:black;
}

body{
     /* Definimos el contenedor principal como un grid */ 
     display: grid;
     /* Definimos la separación entre cada una de las zonas */
     grid-gap: 5px;
     /* Definimos el número de filas y columnas que conforman nuestra maqueta*/
     grid-template-columns: 65% 35%;
     grid-template-rows: 100px 500px 500px 100px;
     /* Definimos mediante areas nuestra maqueta*/
     grid-template-areas:
        "header    nav"
        "zona_1    zona_1"
        "zona_2    zona_2"
        "footer    footer"; 
    }

/* Área de Cabecera */   
header{
    grid-area:header;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Área de navegación*/
nav{
    grid-area:nav;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Subzona de contenido */
#contenedor_zona_1{
    grid-area:zona_1;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Subzona de contenido */
#contenedor_zona_2{
    grid-area:zona_2;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-evenly;
}  

/* Pie de página */
footer{
    grid-area:footer;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: space-evenly;
}


